<!DOCTYPE html>

<head>
    <title>Nuget versions</title>
</head>

<body>
    <p>
        <a href="/">home</a>
        <a href="/versions">versions</a> 
        <a href="/metadata">metadata</a> 
    </p>

    <p>Nuget versions page Information. Insert Nuget name. click Submit</p>
    <form method="POST">
        <label>Nuget Name:</label><br />
        <input type="text" name="nugetName"><br />
        <input type="submit">
    </form>

    {{ range .Versions }}
    <p>{{ . }}</p>
    {{end}}
</body>

</html>